.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}

.site-layout-content {
  background: #fff;
  color: #333;
  padding: 10px;
  /* min-height: 280px; */
  /* height: 100%; */
}

.layout .logo {
  width: 120px;
  height: 31px;
  /* background: #fff; */
  margin: 16px 24px 16px 0;
  float: left;
}
.layout .logo h1 {
  line-height: 1.3;
  color: #fff;
}
.layout .navbar {
  width: 46px;
  height: 31px;
  margin: 0;
  float: right;
}

.editorWrapper {
  border: 1px solid #dadada;
}
.editorClass {
  padding: 5px;
}

.rightCenter{
  display: flex;
  justify-content: center;
}

.fullCenter{
  display: flex;
  align-items: center;
  justify-content: center;
}

.fixed-bottom {
  position: fixed;
  bottom: 10px;
  right: 0;
  overflow: hidden;
  z-index: 10000000000;
}

.ant-upload-list{
  margin-top: 1opx;
  display: flex;
  justify-content: center;
}
.steps-content {
  /* margin-top: 16px; */
  /* border: 1px dashed #e9e9e9; */
  border-radius: 2px;
  /* background-color: #fafafa; */
  /* min-height: 200px; */
  text-align: left;
  padding-top: 10px;
}
.steps-action {
  margin-top: 24px;
}
.nav-user {
  display: inline-flex;
}
.nav-user-details{
  margin-left: 10px;
  
}
.nav-user-details .user-name{
 
  font-weight: bold;
}

.nav-user-details .user-email{
  font-size: 10px;
}